.container {
    overflow-x: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    margin: 10px;
  }
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  } 
 
 
 
ul {
  list-style-type: none;
  text-align: left;
}
 
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
  
 
li {
  padding: 10px;
  overflow: auto;
}
 
 
   